@charset "UTF-8";

/*
 * Color
 */
.background-white {
    background-color: #FFF;
}

.background-light {
    background-color: #F3F3EC;
}

.background-dark {
    background-color: #C2C2BC;
}

/*
 * Base
 */
body {
    font-family: "Varela Round", Arial, "Hiragino Maru Gothic Pro", "HG丸ゴシックM-PRO", "メイリオ", Meiryo, verdana, arial, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/*
 * layout
 */
.header {
    width: 100%;
}

.sub-header {
    width: 100%;
}

.main {
    min-height: 350px;
}

.footer {
    width: 100%;
    height: 50px;
}

.container {
    overflow: hidden;
    /* width: 800px; */
}

.container-content {
    padding-top: 40px;
}

/*
 * Message
 */
.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #434E84;
    color: #FFF;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
}

.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #434E84;
}

.message.error {
    background-color: #C7243A;
    color: #FFF;
}

.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C7243A;
    content: "x";
}
.message.hidden {
    height: 0;
}

.error-message {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    color: rgba(0, 0, 0, 0.54);
}

/*
 * Other
 */
.circle-div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-flow: column;
    vertical-align: top;
    width: 30px;
    height: 30px;
    background-color: #C7243A;
}

.circle-number {
    color: #FFF;
}
